
.header-container{
    text-align: center;
  
}

.logo{
    height: 50px;
}

.nav{
    background-color: black;
    line-height: 40px;
}

.nav a{
    text-decoration: none;
    color: white;
    
    margin-right: 20px;
    font-weight:500;
}

.nav a:hover{
    background-color: gray;
    padding: 10px;
    /* transition: 0.5s; */
}